.node {
  border: 1px solid grey;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.node.start {
  background-color: green !important;
}
.node.finish {
  background-color: red !important;
}
.node.wall {
  background-color: grey;
}
.node.visited {
  background-color: orange;
}
.node.solution {
  background-color: blue;
}
