.top-bar {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
}

.pathfinding {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ui.button {
  font-size: 13px;
  padding: 13px;
  margin-left: 6px;
}
.grid-options {
  display: flex;
  flex-direction: column;
}
.fullWidth {
  width: 100%;
}
