.bar-graph {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 50vh;
  border: 1px solid #000;
}
.stick {
  /* background: #aaa; */
  width: stretch;
  border: 1px solid #eee;
}
